*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color:black;
    line-height: 1.6;

}
#welcome{
    background-image: url(../images/strawberry.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#welcome h1{
    font-size: 50px;
    line-height: 1.2;
}

#welcome p{
    font-size: 20px;
}

#welcome .btn{
    font-size: 18px;
    text-decoration: none;
    color: #926239;
    border: #926239 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;

}

#welcome .btn:hover{
    background: gray;
    color: #fff;
}

.img{
    background-image: url(../images/688579.jpg);
    background-size: cover;
}

.container-fluid{
    margin: auto;
    width: 960px;
}
.col-md-4.col-sm-12 {
    text-align: center;
  }
  @media only screen and (min-width: 600px) {
    .container-fluid {
      width: 95%;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .container-fluid {
      width: 90%;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .container-fluid {
      width: 70%;
    }
  } 
  .footer{
    text-align: center;
    font-size: small;
  }